/* General Styles 
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica';
    padding: 0;
}

footer {
    background-color: black;
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}



.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.footer-buttons button {
    padding: 5px 10px;
    background-color: red;
    color: black;
    font-size: 11px;
    white-space: nowrap;
    flex: 1;
    margin: 0 5px;
}

.footer-buttons .btn-donner {
    background-color: yellow;
}

.footer-buttons .btn-donner:hover {
    background-color: red;
}

.footer-buttons button:hover {
    background-color: yellow;
}

.logo-footer img {
    max-width: 100px; 
    height: auto;
}

.logo-footer {
    margin-bottom: 10px; 
}


.contact-info {
    margin: 10px 0;
    color: white;
    text-align: center;
    width: 100%;
}


.mission, .publications {
    color: white;
    text-align: left;
    margin: 0;
    font-size: 10px;
    width: 100%;
}


@media (max-width: 768px) {
    .mission, .publications {
        display: none; 
    }
}


@media (min-width: 768px) {
    .footer-container {
        max-width: 1200px;
        padding: 10px;
    }

    .contact-info {
        text-align: left;
        margin: 0;
        max-width: 100%;
        font-size: 10px;
    }

    .footer-buttons {
        margin-bottom: 10px;
    }

    .content-sections {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 
        align-items: flex-start;
        width: 100%;
        gap: 20px;
    }

    .mission, .publications {
        display: block;
        flex: 1;
        margin-left: 20px;
    }

    .mission {
        margin-left: 0; 
    }

    .logo-footer {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-content: flex-start;
    }
}

@media (min-width: 1024px) {
    .footer-container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 2fr;
        align-items: start;
        width: 100%;
        gap: 20px;
    }


    .logo-footer {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-content: flex-start;
    }

    .contact-info {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-content: flex-start;
    }

    .content-sections {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }

    .mission, .publications {
        margin: 0;
        max-width: 100%;
    }
}

.footer-bottom {
    grid-column: span 2;
    font-size: 8px;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
}


*/





body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica';
    padding: 0;
}


/* footer */

footer {
    background-color: black;
    padding: 10px 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
    width: 100%;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: white;
}

h4 {
    color: yellow;
    font-size: 13px;
}

.footer-container {
    display: grid;
    padding: 20px;
    box-sizing: border-box;
    grid-template-areas: 
        "buttons"
        "no1"
        "no2"
        "no3";
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.footer-buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.no1, .no2, .no3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    font-size: 13px;
}

.footer-buttons button {
    padding: 10px 15px;
    background-color: #E33216;
    color: #000;
    border: none;
    cursor: pointer;
}

.footer-buttons .btn-donner {
    background-color: #FBCC3C;
}

.footer-buttons .btn-donner:hover {
    background-color: #ffffff;
}

.footer-buttons button:hover {
    background-color: #f5f5f5;
}

.logo-footer img {
    max-width: 100px;
}

.contact-info, .mission, .publications {
    margin-top: 10px;
}

.footer-bottom, .no3 {
    grid-area: no3;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
  
}


@media (min-width: 769px) {
    .footer-container {
        grid-template-areas: 
            "no1 buttons ."
            "no1 no2 no4"
            "no3 no3 no3"; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        gap: 10px;
        text-align: left; 
    }

    .footer-buttons {
        display: flex;
        align-items: center; 
        justify-content: center; 
        padding: 50px 0;
        margin: 10px
    }

    .no1 {
        grid-area: no1;
        justify-content: center; 
        align-items: center; 
        padding: 0 20px;
    }


    .no4 {
        grid-area: no4;
        justify-content: flex-end;
        flex-direction: row; 
        gap: 10px;
        padding: 0 20px;
    }

    .no2 {
        grid-area: no2;
        margin-top:-14em;
        justify-content: flex-end;
        flex-direction: row; 
        gap: 10px;
        padding: 0 20px;
    }

    .no3 {
        grid-area: no3;
        grid-column: 1 / -1; 
        justify-content: center; 
        text-align: center;
    }

    .contact-info {
        align-items: flex-start;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .mission, .publications {
        display: none; 
    }

    .contact-info {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .no3 {
        justify-content: center; 
    }
}



/* HEADER */


.navbar-toggler {
    border: none; 
    margin-left: auto;
  }
  
  .navbar-toggler-icon {
    background-image: none; 
  }
  
  .navbar-toggler:before,
  .navbar-toggler:after,
  .navbar-toggler div,
  .navbar-collapse.show {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute; 
    top: 100%; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
  }
  
  .navbar-collapse {
    transition: none !important; 
  }
  

  .navbar-nav .nav-link {
    color: white; 
  }
  

  .dropdown-menu {
    background-color: black; 
  }
  

  .dropdown-item {
    color: white;
  }
  

  .dropdown-item:hover {
    background-color: red;
  }
  
  .header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2; 
    transform: translate(-50%, -50%);
  }
  
  .header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; 
  }
  
  .navbar {
    background: rgba(255, 255, 255, 0);
  }
  
  .navbar-nav .nav-link {
    color: white !important;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ccc !important;
  }
  
  .logo {
    position: absolute; 
    top: -30px !important; 
    left: -30px !important;
    max-width: 150px;
    max-height: 150px;
    z-index: 2;
  }
  
  .overlay-text1 {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 10em; 
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FBCC3C;
  }
  
  .overlay-text2 {
    position: absolute;
    top: 60%;
    left: 66%;
    transform: translate(-50%, -50%);
    font-size: 10em; 
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #E33216;
  }
  .header-buttons {
    position: absolute; 
    top: 75px; 
    right: 20px; 
    display: flex; 
    gap: 10px;
    z-index: 10; 
  }
  
  .header-buttons button {
    padding: 10px 15px; 
    background-color: #E33216; 
    color: #000; 
    border: none; 
    cursor: pointer;
  
  }
  
  .header-buttons .btn-donner {
    background-color: #FBCC3C;
  }
  
  .header-buttons .btn-donner:hover {
    background-color: #f6f6f6; 
  }
  
  .header-buttons button:hover {
    background-color: #ffffff; 
  }
  
  
  
  @media (max-width: 1000px) {
    .header-buttons {
        top: 5%; 
        right: 50%; 
        transform: translate(50%, -50%); 
  
        align-items: center; 
    }
  }
  
  .header-buttons button {
    display: flex;
    align-items: center; 
  }
  
  .header-buttons .button-icon {
    width: 16px; 
    height: 16px; 
    margin-left: 5px; 
  }
  
  
  @media (max-width: 1000px) {
    .overlay-text1, .overlay-text2 {
      font-size: 6rem; 
    }
  }
  
  @media (max-width: 800px) {
    .overlay-text1, .overlay-text2 {
      font-size: 3rem; 
    }
  }
  