@use "partials/header";
@use "partials/footer";
@use "partials/text";


body, html {
    height: 100%;
    margin: 0;
    background-color: $primary;
    font-family: 'Helvetica';
    padding: 0;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}





