@charset "UTF-8";
/* HEADER */
.navbar-toggler {
  border: none;
  margin-left: auto;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler:before,
.navbar-toggler:after,
.navbar-toggler div,
.navbar-collapse.show {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-collapse {
  transition: none !important;
}

.navbar-nav .nav-link {
  color: white;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: red;
}

.header {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5) !important;
}

.header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar {
  background: rgba(255, 255, 255, 0);
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover {
  color: #ccc !important;
}

.logo {
  position: absolute;
  top: -30px !important;
  left: -30px !important;
  max-width: 150px;
  max-height: 150px;
  z-index: 2;
}

.overlay-text1 {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FBCC3C;
  font-weight: 350;
}

.overlay-text2 {
  position: absolute;
  top: 60%;
  left: 66%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E33216;
}

.header-buttons {
  position: absolute;
  top: 75px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.header-buttons button {
  padding: 10px 15px;
  background-color: #E33216;
  color: #000;
  border: none;
  cursor: pointer;
}

.header-buttons .btn-donner {
  background-color: #FBCC3C;
}

.header-buttons .btn-donner:hover {
  background-color: #f6f6f6;
}

.header-buttons button:hover {
  background-color: #ffffff;
}

@media (max-width: 1000px) {
  .header-buttons {
    top: 5%;
    right: 50%;
    transform: translate(50%, -50%);
    align-items: center;
  }
}
.header-buttons button {
  display: flex;
  align-items: center;
}

.header-buttons .button-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.underline {
  text-decoration: underline;
}

.nav-link.dropdown-toggle:hover {
  font-size: 1.1em;
  color: #E33216 !important;
}

@media (max-width: 1000px) {
  .overlay-text1, .overlay-text2 {
    font-size: 6rem;
  }
}
@media (max-width: 800px) {
  .overlay-text1 {
    margin-top: 120px;
    font-size: 4em;
    text-align: left !important; /* Aligne le texte à gauche */
    margin-left: 10px;
  }
  .overlay-text2 {
    margin-top: -30px;
    font-size: 3rem;
    text-align: left !important; /* Aligne le texte à gauche */
  }
}
/* footer */
footer {
  background-color: black;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer-container {
  display: grid;
  padding: 20px;
  box-sizing: border-box;
  grid-template-areas: "buttons" "no1" "no2" "no3";
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  text-align: center;
}

.footer-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.no1, .no2, .no3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.footer-buttons button {
  padding: 10px 15px;
  background-color: #E33216;
  color: #000;
  border: none;
  cursor: pointer;
}

.footer-buttons .btn-donner {
  background-color: #FBCC3C;
}

.footer-buttons .btn-donner:hover {
  background-color: #ffffff;
}

.footer-buttons button:hover {
  background-color: #f5f5f5;
}

.logo-footer img {
  max-width: 100px;
}

.contact-info, .mission, .publications {
  margin-top: 10px;
}

.footer-bottom, .no3 {
  grid-area: no3;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .footer-container {
    grid-template-areas: "no1 buttons ." "no1 no2 no4" "no3 no3 no3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
    text-align: left;
  }
  .footer-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin: 10px;
  }
  .no1 {
    grid-area: no1;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  .no4 {
    grid-area: no4;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    padding: 0 20px;
  }
  .no2 {
    grid-area: no2;
    margin-top: -14em;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    padding: 0 20px;
  }
  .no3 {
    grid-area: no3;
    grid-column: 1/-1;
    justify-content: center;
    text-align: center;
  }
  .contact-info {
    align-items: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .mission, .publications {
    display: none;
  }
  .contact-info {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .no3 {
    justify-content: center;
  }
}
p {
  color: white;
}

h4 {
  color: yellow;
  font-size: 13px;
}

.container {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bullet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullet-item {
  font-size: 2.5em;
  opacity: 0; /* Commencer invisible */
  transform: translateY(20px); /* Déplacer vers le bas */
  position: absolute; /* Pour superposer les éléments */
  margin-top: -250px;
}

.title {
  text-align: left; /* Centre le texte */
  font-size: 3em; /* Taille de police */
  color: #333; /* Couleur du texte */
  margin-bottom: 20px; /* Espacement en dessous du texte */
  margin-top: 100px;
  margin-left: 200px;
  font-family: "Helvetica", sans-serif; /* Utiliser la police Helvetica */
  font-weight: 300; /* Poids de la police plus léger */
}

.pub {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "Helvetica";
  padding: 0;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */