.news-section {
    padding: 20px;
    background-color: #f9f9f9;
}

.news-header {
    text-align: center;
    margin-bottom: 20px;
}

.news-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.news-card {
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.33% - 20px);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news-card img {
    width: 80%;
    height: auto;
    margin: 10px 0;
    transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
}

.news-card:hover img {
    transform: scale(1.00);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 20px solid red;
}

.news-card h3 {
    color: black;
    font-size: 1.2em;
    margin-top: 10px;
    width: 80%;
}

.news-card p,
.news-card .news-details {
    color: #E33216;
    font-size: 0.9em;
    margin: 10px 0;
    width: 80%;
}

.news-card .news-details {
    display: block;
    color: black;
    font-size: 0.9em;
    margin-top: auto;
}

@media (max-width: 1024px) {
    .news-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .news-card {
        width: 80%;
        text-align: center;
    }

    .news-card img {
        width: 100%;
        margin: 10px auto;
    }

    .news-card h3,
    .news-card p,
    .news-card .news-details {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.news-section {
    position: relative;
}

.image-container {
    position: relative;
}

.news-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.title-red, .title-yellow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 9em;
}

.title-red {
    top: 20%;
    color: #E33216;
}

.title-yellow {
    top: 20%;
    color: #FBCC3C;
}

@media (max-width: 768px) {
    .title-red, .title-yellow {
        font-size: 2em;
    }
}




