.mission-hero {
    position: absolute;
    max-width: 70%;
    height: auto;            
    padding: 30px;
    margin: 30px;
    top: 60%;
    transform: translateY(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    background-color: #FBCC3C;
    font-weight: bold;
    overflow: hidden;
}

.mission-hero p {
    color: #000;
    white-space: normal;     
    overflow: hidden;        
    text-overflow: ellipsis; 
    margin: 0;               
}


.contacter  {
    display: flex;
    flex-direction: column; 
    font-size: 15px;
    margin: 50px;
    padding: 20px;
   
}

.contacter p {
    color:black;
    margin-bottom: 10px
}

.contacter h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
    color: black;  
}

.contacter button {
    padding: 10px;
    background-color: #E33216;
    color: #000;
    border-radius: 3px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    align-self: flex-start; 
    margin-top: 10px;        
}

.contacter button:hover {
    background-color: yellow;    
}

.contact-membre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FBCC3C;
}

.contact-form {
    padding: 40px;
    background-color: #F4F4F4;
    margin: 50px 0;
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button.btn-submit {
    background-color: #E33216;
    color: #FFF;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
}

.contact-form button.btn-submit:hover {
    background-color: #FBCC3C;
    color: #000;
}
