.actualites-hub {
    padding: 60px 20px;
    background-color: #f5f5f5;
}

.title-nouvelle2 {
    position: absolute;
    padding: 30px;
    margin: 30px;
    margin-top: 80px;
    top: 100px;
    font-size: 5vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #E33216;
    z-index: 10;
    margin-left: 120px;
}

.hero-container {
    background-color: #FBCC3C;
    color: white;
    padding: 40px;
    text-align: center;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-description {
    font-size: 1.2rem;
    margin-top: 10px;
}

.sorting-container {
    text-align: right;
    margin-top: 30px;
}

.sorting-label {
    margin-right: 10px;
}

.news-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.news-card2 {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;

}

.news-card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.news-card-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* Optional: Set max height for images to maintain consistency */
}

.news-card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Allow the body to expand and take available space */
}

.news-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.news-card-description {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    flex-grow: 1; /* Allow description to grow and take available space */
}

.news-card-date {
    font-size: 0.9rem;
    color: #999;
    margin-top: 10px;
}

.read-more-btn {
    background-color: #e33216;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: auto; /* Pushes button to the bottom */
    align-self: flex-start; /* Align button to the left */
    margin-top: 20px;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: #c22714;
}

.load-more-news-btn {
    display: block;
    background-color: #e33216;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 30px auto;
    cursor: pointer;
}

.load-more-news-btn:hover {
    background-color: #c22714;
}

.featured-news-card {
    background-color: #e33216;
    color: white;
}

.featured-news-card .news-card-title {
    font-size: 1.5rem;
}

.white {
   color: white !important;
}

.black {
    background-color: black !important;
}

@media (max-width: 768px) {
    .news-card2 {
        width: 100%;
    }

    .title-nouvelle2 {
        font-size: 9vw;
        margin-left: -0px;
    }
}

