.nouvelle-hero {
    filter: grayscale(100%);
    mix-blend-mode: overlay;
}

.title-nouvelle {
    position: absolute;
    padding: 30px;
    margin: 30px;
    margin-top: 80px;

    top: 100px;
    font-size: 4vw;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #E33216;
    z-index: 10;
}

.main-title {
    font-size: 2.6em;
    color: #E33216;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
    z-index: 100;
}

.social-share {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    color: black;
}

.social-share span {
    font-size: 1em;
    color: black;
    margin-right: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.social-icon img {
    width: 100%;
    height: auto;
}

.social-icon.instagram img {
    width: 100%;
    max-width: 20px;
}

.paragraph-nouvelles p {
    display: flex;
    font-size: 30px;
    margin: 50px;
    padding: 20px;
    color: black;
}

.liste-nouvelles {
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    color: black;
}

.social-icon.x img {
    width: 100%;
    max-width: 20px;
}

.social-icon.facebook img {
    width: 100%;
    max-width: 20px;
}

.news-section-nouvelles {
    background-color: #FBCC3C;
}

.news-section-nouvelles h2 {
    position: relative;
    top: 0;
    padding: 30px;
    margin: 50px;
    text-align: left;
    color: #E33216;
    font-weight: 600;
}

.info-block {
 position: absolute;
 left: 60px;
 right: 60px;
 top: 60vh;
}

.info-container {
    width: 100%;
    padding: 10px;
    position: relative;
}

.info-content {
    background-color: #FBCC3C;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 750px;
    margin: 0 auto;
}

.info-description {
    font-size: 1.2em;
    color: black;
    line-height: 1.4;
    margin-bottom: 15px;
}

.info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-date {
    font-size: 1.1em;
    color: black;
}

.social-share {
    display: flex;
    align-items: center;
}

.social-share span {
    font-size: 1em;
    color: black;
    margin-right: 10px;
}

.social-icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.social-icon img {
    width: 5%;
    height: auto;
}

.new-section {
    margin-top: 60px;
    padding: 0px 80px;
}

.section-title {
    color: #E33216;
    font-size: 2.5rem;
    font-weight: bold;
}

.section-title2 {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.section-text {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 300;
    margin-top: 20px;
    color: black;
}

.section-image {
    margin-top: 30px;
    width: 100%;
}

.section-image img {
    width: 100%;
    height: auto;
    border: 15px solid #E33216;
    box-sizing: border-box;
}

.full-width-image {
    width: 100%;
    height: auto;
}

.author-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.author-card {
    display: flex;
    width: 100%;
    background-color: #A5A5A5;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    align-items: center;
}

.author-card img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.author-info {
    flex-grow: 1;
}

.author-info strong {
    display: block;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.author-info p {
    color: #777;
    font-size: 0.9em;
}

.author-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

#slide-counter {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    padding: 0 20px;
    margin: 0 40px;
    text-align: center;
}

.swiper-navigation2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-button-prev2,
.swiper-button-next2 {
    background-color: red;
    color: #000;
    margin: 10px;
    position: relative;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.swiper-button-next2:hover {
    background-color: #e33216;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-button-prev2 {
    margin-right: 30px;
}

.swiper-button-prev2:hover {
    background-color: #e33216;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-button-next2 {
    margin-left: 30px;
}

.swiper-button-prev2::after,
.swiper-button-next2::after {
    font-size: 12px;
    display: none;
}

.swiper-button-prev2 {
    position: absolute;
    left: 100px;
}

.swiper-button-next2 {
    position: absolute;
    right: 100px;
}

.custom-section2 {
    position: relative;
    height: 0px;
    margin-top: 80px;
}

.autres-services h1 {
    position: absolute;
    top: 30%;
    font-size: 3em;
    font-weight: bold;
    z-index: 2;
    color: #E33216;
    text-align: center;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 8px;
}

.yes {
    margin-top: -50px;
}

@media (min-width: 768px) {
    .info-block {
        padding: 40px 60px;
       
    }

    .info-container {
        max-width: 800px;
    }
}

@media (max-width: 500px) {
    .title-nouvelle {
    }
}

@media (max-width: 800px) {
    .info-block {
       top:40vh;
       
    }
}