.nouvelle-hero {
    filter: grayscale(100%);
    mix-blend-mode: overlay;
}

.title-nouvelle {
    position: absolute;
    padding: 30px;
    margin: 30px;

    margin-top: 80px;
    top: 100px;
   
    font-size: 5vw; 
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #E33216;
    z-index: 10;
}

/* Main Header Styles */


.main-title {
    font-size: 2.6em;
    color: #E33216;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
    z-index: 100;
}




/* Yellow Info Block */
.info-block {

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    margin-top: 350px;

}

.info-container {
    width: 100%;
    padding: 10px;
    position: relative;
}

.info-content {
    background-color: #FBCC3C;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 750px;
    margin: 0 auto;
}

.info-description {
    font-size: 1.2em;
    color: black;
    line-height: 1.4;
    margin-bottom: 15px;
}

.info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-date {
    font-size: 1.1em;
    color: black;
}

.social-share {
    display: flex;
    align-items: center;
}

.social-share span {
    font-size: 1em;
    color: black;
    margin-right: 10px;
}

.social-icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.social-icon img {
    width: 5%;
    height: auto;
}

/* Desktop Version */
@media (min-width: 768px) {
    .info-block {
        padding: 40px 60px;
    }

    .info-container {
        max-width: 800px;
    }
}

@media (max-width: 500px) {

    .title-nouvelle {

       
   
    
    }

}



