
@use "partials-scss/header";
@use "partials-scss/footer";
@use "partials-scss/text";
@use "partials-scss/info";
@use "partials-scss/listedoits";
@use "partials-scss/pub";
@use "partials-scss/actu";
@use "partials-scss/vedette";
@use "partials-scss/services";
@use "partials-scss/nouvelles";
@use "partials-scss/contact";
@use "partials-scss/newshub";


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica';
    padding: 0;


    
}
 
 














