@charset "UTF-8";
/* Navbar Toggler */
.navbar-toggler {
  border: none;
  margin-left: auto;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler:before,
.navbar-toggler:after,
.navbar-toggler div,
.navbar-collapse.show {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-collapse {
  transition: none !important;
}

.navbar-nav .nav-link {
  color: white;
}

.dropdown-menu {
  background-color: black;
  position: absolute;
  z-index: 1000;
  display: none; /* Hidden by default */
}

/* Display the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: red;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5) !important;
}

.header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  background: rgba(255, 255, 255, 0);
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover {
  color: #ccc !important;
}

.navbar-collapse {
  padding: 20px;
}

.logo {
  position: absolute;
  top: -30px !important;
  left: -30px !important;
  max-width: 150px;
  max-height: 150px;
  z-index: 2;
}

.overlay-text1 {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FBCC3C;
  font-weight: 350;
  margin-top: 40px;
}

.overlay-text2 {
  position: absolute;
  top: 60%;
  left: 66%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E33216;
  margin-top: 100px;
}

.header-buttons {
  position: absolute;
  top: 75px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

/* Style pour la bannière promo */
.promo-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  background-color: #f1c40f;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  z-index: 1000;
}

.promo-banner a {
  color: black;
  text-decoration: underline;
}

#close-banner {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.header-buttons button {
  padding: 10px 15px;
  background-color: #E33216;
  color: #000;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.header-buttons .btn-donner {
  background-color: #FBCC3C;
}

.header-buttons .btn-donner:hover {
  background-color: #f6f6f6;
}

.header-buttons button:hover {
  background-color: #ffffff;
}

/* Media Queries */
@media (max-width: 1000px) {
  .header-buttons {
    top: 5%;
    right: 50%;
    transform: translate(50%, -50%);
    align-items: center;
  }
}
.header-buttons button {
  display: flex;
  align-items: center;
}

.header-buttons .button-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.underline {
  text-decoration: underline;
}

.nav-link.dropdown-toggle:hover {
  color: #E33216 !important;
}

@media (max-width: 1000px) {
  .overlay-text1 {
    font-size: 6em;
  }
  .overlay-text2 {
    font-size: 6rem;
    margin-top: 60px;
  }
}
@media (max-width: 1600px) {
  .overlay-text1 {
    font-size: 8em;
  }
  .overlay-text2 {
    font-size: 8rem;
    margin-top: 0px;
  }
}
@media (max-width: 1300px) {
  .overlay-text1 {
    font-size: 6em;
  }
  .overlay-text2 {
    font-size: 6rem;
    margin-top: 0px;
  }
}
@media (max-width: 900px) {
  .overlay-text1 {
    margin-top: 50px;
    font-size: 4em;
    text-align: left !important;
    margin-left: 10px;
  }
  .overlay-text2 {
    margin-top: 50px;
    font-size: 3rem;
    text-align: left !important;
  }
}
/* footer */
footer {
  background-color: black;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer-container {
  display: grid;
  padding: 20px;
  box-sizing: border-box;
  grid-template-areas: "buttons" "no1" "no2" "no3";
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  text-align: center;
}

.footer-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-media {
  margin-top: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.social-media a {
  color: #E33216;
  text-decoration: none;
}

.social-media a:hover {
  color: #FBCC3C;
}

.social-media svg {
  width: 24px;
  height: 24px;
}

footer p {
  color: white;
}

.no1, .no2, .no4, .no3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.footer-buttons button {
  padding: 10px 15px;
  background-color: #E33216;
  color: #000;
  border: none;
  cursor: pointer;
}

.footer-buttons .btn-donner {
  background-color: #FBCC3C;
}

.footer-buttons .btn-donner:hover {
  background-color: #ffffff;
}

.footer-buttons button:hover {
  background-color: #f5f5f5;
}

.logo-footer img {
  max-width: 100px;
}

.contact-info, .mission, .publications {
  margin-top: 10px;
}

.footer-bottom, .no3 {
  grid-area: no3;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mission, .publications {
  display: none;
}

.contact-info {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no3 {
  justify-content: center;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 769px) {
  .footer-container {
    grid-template-areas: "no1 buttons ." "no1 no2 no4" "no3 no3 no3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
    text-align: left;
  }
  .mission, .publications {
    display: block;
  }
  .footer-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin: 10px;
  }
  .no1 {
    grid-area: no1;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  .no4 {
    grid-area: no4;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    padding: 0 20px;
  }
  .no2 {
    grid-area: no2;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    padding: 0 20px;
  }
  .no3 {
    grid-area: no3;
    grid-column: 1/-1;
    justify-content: center;
    text-align: center;
  }
  .contact-info {
    align-items: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
p {
  color: white;
}

h4 {
  color: yellow;
  font-size: 13px;
}

a {
  color: #E33216;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.info {
  margin: 0 auto;
  width: 100%;
  background-image: url("/wp-content/themes/pages-statiques-tristan/medias/info-background.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info h1 {
  font-size: 2.6em;
  color: #E33216;
  font-weight: bold;
  padding-top: 40px;
  text-align: center;
}

.card {
  width: 80%;
  background-color: #FBCC3C;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  font-size: 1.2em;
  color: black;
  line-height: 1.4;
  margin: 0;
  padding-top: 10px;
}

.button-info {
  text-align: center;
  color: white;
  padding: 20px 0 0 0;
}

.btn-infoo {
  width: 50%;
  margin: 10px auto 0 auto;
  background-color: #E33216;
  padding: 10px;
  color: white;
  position: relative;
  font-size: 1em;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
}

/* Version Tablet and Desktop */
@media (min-width: 768px) {
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 40px 60px;
  }
  .info h1 {
    grid-column: 1/span 2;
    font-size: 3em;
    text-align: left;
  }
  .card {
    width: 60%;
    max-width: none;
    margin: 0;
    padding: 20px;
  }
  .button-info {
    text-align: right;
  }
  .btn-infoo {
    margin: 20px 0 0 0;
    background-color: #E33216;
    color: white;
  }
}
.container {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bullet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullet-item {
  font-size: 2.5em;
  opacity: 0;
  transform: translateY(20px);
  position: absolute;
  margin-top: -150px;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #333;
  margin-bottom: 20px;
  margin-top: 100px;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
}

/* Responsive styles */
@media (max-width: 768px) {
  .bullet-item {
    font-size: 1.5em;
    margin-top: -100px;
  }
  .title {
    font-size: 2em;
    margin-top: 50px;
    margin-left: 0;
  }
}
.pub {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.news-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.news-header {
  text-align: center;
  margin-bottom: 20px;
}

.news-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.news-card {
  background: transparent;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.33% - 20px);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news-card img {
  width: 80%;
  height: auto;
  margin: 10px 0;
  transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
}

.news-card:hover img {
  transform: scale(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 20px solid red;
}

.news-card h3 {
  color: black;
  font-size: 1.2em;
  margin-top: 10px;
  width: 80%;
}

.news-card p,
.news-card .news-details {
  color: #E33216;
  font-size: 0.9em;
  margin: 10px 0;
  width: 80%;
}

.news-card .news-details {
  display: block;
  color: black;
  font-size: 0.9em;
  margin-top: auto;
}

@media (max-width: 1024px) {
  .news-card {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .news-card {
    width: 80%;
    text-align: center;
  }
  .news-card img {
    width: 100%;
    margin: 10px auto;
  }
  .news-card h3,
  .news-card p,
  .news-card .news-details {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.news-section {
  position: relative;
}

.image-container {
  position: relative;
}

.news-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.title-red, .title-yellow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 9em;
}

.title-red {
  top: 20%;
  color: #E33216;
}

.title-yellow {
  top: 20%;
  color: #FBCC3C;
}

@media (max-width: 768px) {
  .title-red, .title-yellow {
    font-size: 2em;
  }
}
.en-vedette {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 50px;
  gap: 40px;
  align-items: center;
}

.image-vedette {
  background-image: url("/wp-content/themes/pages-statiques-tristan/medias/vedette.png");
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 400px;
  height: auto;
  aspect-ratio: 4/5;
  border: 50px solid #E33216;
  background-size: cover;
  background-position: center;
  margin-left: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-vedette:hover {
  transform: scale(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 0px solid red;
}

.text-vedette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

h8 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.para-vedette {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  text-align: left;
}

.btn-vedette {
  padding: 10px;
  background-color: #FF5733;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
  margin-top: 10px;
}

.btn-vedette:hover {
  background-color: #FBCC3C;
  color: black;
}

@media (max-width: 768px) {
  .en-vedette {
    grid-template-columns: 1fr; /* Stack image and text on smaller screens */
    padding: 20px; /* Reduce padding for smaller screens */
  }
  .image-vedette {
    width: 100%;
    height: auto; /* Maintain the aspect ratio for responsiveness */
    max-width: 300px; /* Adjust max width for smaller screens */
    aspect-ratio: 4/5; /* Keep it rectangular even on small screens */
    margin-left: 0; /* Remove the left margin for mobile */
    background-size: cover; /* Ensure the image fills the container */
  }
  .text-vedette {
    text-align: center; /* Center text on smaller screens */
  }
  .para-vedette {
    font-size: 1.5rem;
    text-align: center;
  }
  .btn-vedette {
    align-self: center; /* Center button on smaller screens */
  }
}
.news-section-services {
  background-color: #FBCC3C;
}

.news-section-services h2 {
  position: relative;
  top: 0;
  padding: 30px;
  margin: 50px;
  text-align: left;
  color: #E33216;
  font-weight: 600;
}

.title-sante {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 6vw;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E33216;
  margin-top: 100px;
}

.sante-hero {
  filter: grayscale(100%);
  mix-blend-mode: overlay;
}

.paragraph-services p {
  display: flex;
  font-size: 30px;
  margin: 50px;
  padding: 20px;
  color: black;
}

.liste-services {
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin: 50px;
  padding: 20px;
  color: black;
}

.autres-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  padding: 80px;
}

.autres-services .swiper {
  width: 80%; /* Reduce width to make the image appear more vertical */
  max-width: 500px;
  border: 5px solid red;
}

.autres-services .swiper-slide {
  position: relative;
}

.autres-services img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  display: block;
  aspect-ratio: 3/4; /* Ensures the image is vertically rectangular */
}

/* Swiper navigation container to center buttons below the image */
.swiper-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

/* Style for navigation buttons */
.swiper-button-prev, .swiper-button-next {
  background-color: red;
  color: #000;
  margin: 10px;
  position: relative;
  width: 150px; /* Larger width than height */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

/* Slide counter style */
#slide-counter {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

/* Smaller arrows with padding for spacing */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px;
  display: none;
  padding: 0 5px;
  vertical-align: middle;
  color: #000;
}

.autres-services h1 {
  position: absolute;
  top: 30%;
  font-size: 3em;
  font-weight: bold;
  z-index: 2;
  color: #E33216;
  text-align: center;
  background-color: transparent; /* Optional translucent background */
  padding: 10px 20px;
  border-radius: 8px;
}

.nouvelle-hero {
  filter: grayscale(100%);
  mix-blend-mode: overlay;
}

.title-nouvelle {
  position: absolute;
  padding: 30px;
  margin: 30px;
  margin-top: 80px;
  top: 100px;
  font-size: 4vw;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E33216;
  z-index: 10;
}

.main-title {
  font-size: 2.6em;
  color: #E33216;
  font-weight: bold;
  padding-top: 40px;
  text-align: center;
  z-index: 100;
}

.social-share {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  color: black;
}

.social-share span {
  font-size: 1em;
  color: black;
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.social-icon img {
  width: 100%;
  height: auto;
}

.social-icon.instagram img {
  width: 100%;
  max-width: 20px;
}

.paragraph-nouvelles p {
  display: flex;
  font-size: 30px;
  margin: 50px;
  padding: 20px;
  color: black;
}

.liste-nouvelles {
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin: 50px;
  padding: 20px;
  color: black;
}

.social-icon.x img {
  width: 100%;
  max-width: 20px;
}

.social-icon.facebook img {
  width: 100%;
  max-width: 20px;
}

.news-section-nouvelles {
  background-color: #FBCC3C;
}

.news-section-nouvelles h2 {
  position: relative;
  top: 0;
  padding: 30px;
  margin: 50px;
  text-align: left;
  color: #E33216;
  font-weight: 600;
}

.info-block {
  position: absolute;
  left: 60px;
  right: 60px;
  top: 60vh;
}

.info-container {
  width: 100%;
  padding: 10px;
  position: relative;
}

.info-content {
  background-color: #FBCC3C;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;
}

.info-description {
  font-size: 1.2em;
  color: black;
  line-height: 1.4;
  margin-bottom: 15px;
}

.info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-date {
  font-size: 1.1em;
  color: black;
}

.social-share {
  display: flex;
  align-items: center;
}

.social-share span {
  font-size: 1em;
  color: black;
  margin-right: 10px;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.social-icon img {
  width: 5%;
  height: auto;
}

.new-section {
  margin-top: 60px;
  padding: 0px 80px;
}

.section-title {
  color: #E33216;
  font-size: 2.5rem;
  font-weight: bold;
}

.section-title2 {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}

.section-text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
  margin-top: 20px;
  color: black;
}

.section-image {
  margin-top: 30px;
  width: 100%;
}

.section-image img {
  width: 100%;
  height: auto;
  border: 15px solid #E33216;
  box-sizing: border-box;
}

.full-width-image {
  width: 100%;
  height: auto;
}

.author-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.author-card {
  display: flex;
  width: 100%;
  background-color: #A5A5A5;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  align-items: center;
}

.author-card img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.author-info {
  flex-grow: 1;
}

.author-info strong {
  display: block;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.author-info p {
  color: #777;
  font-size: 0.9em;
}

.author-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

#slide-counter {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  padding: 0 20px;
  margin: 0 40px;
  text-align: center;
}

.swiper-navigation2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-button-prev2,
.swiper-button-next2 {
  background-color: red;
  color: #000;
  margin: 10px;
  position: relative;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.swiper-button-next2:hover {
  background-color: #e33216;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-button-prev2 {
  margin-right: 30px;
}

.swiper-button-prev2:hover {
  background-color: #e33216;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-button-next2 {
  margin-left: 30px;
}

.swiper-button-prev2::after,
.swiper-button-next2::after {
  font-size: 12px;
  display: none;
}

.swiper-button-prev2 {
  position: absolute;
  left: 100px;
}

.swiper-button-next2 {
  position: absolute;
  right: 100px;
}

.custom-section2 {
  position: relative;
  height: 0px;
  margin-top: 80px;
}

.autres-services h1 {
  position: absolute;
  top: 30%;
  font-size: 3em;
  font-weight: bold;
  z-index: 2;
  color: #E33216;
  text-align: center;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 8px;
}

.yes {
  margin-top: -50px;
}

@media (min-width: 768px) {
  .info-block {
    padding: 40px 60px;
  }
  .info-container {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .info-block {
    top: 40vh;
  }
}
.mission-hero {
  position: absolute;
  max-width: 70%;
  height: auto;
  padding: 30px;
  margin: 30px;
  top: 75%;
  left: 0;
  transform: translateY(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  background-color: #FBCC3C;
  font-weight: bold;
  overflow: hidden;
}

.mission-hero p {
  color: #000;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.contacter {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 50px;
  padding: 20px;
}

.contacter p {
  color: black;
  margin-bottom: 10px;
}

.contacter h2 {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  color: black;
}

.contacter button {
  padding: 10px;
  background-color: #E33216;
  color: #000;
  border-radius: 3px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
  margin-top: 10px;
}

.contacter button:hover {
  background-color: yellow;
}

.contact-membre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #FBCC3C;
}

.contact-form {
  padding: 40px;
  background-color: #F4F4F4;
  margin: 50px 0;
  border-radius: 8px;
}

.contact-form h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button.btn-submit {
  background-color: #E33216;
  color: #FFF;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
}

.contact-form button.btn-submit:hover {
  background-color: #FBCC3C;
  color: #000;
}

.actualites-hub {
  padding: 60px 20px;
  background-color: #f5f5f5;
}

.title-nouvelle2 {
  position: absolute;
  padding: 30px;
  margin: 30px;
  margin-top: 80px;
  top: 100px;
  font-size: 5vw;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E33216;
  z-index: 10;
  margin-left: 120px;
}

.hero-container {
  background-color: #FBCC3C;
  color: white;
  padding: 40px;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-description {
  font-size: 1.2rem;
  margin-top: 10px;
}

.sorting-container {
  text-align: right;
  margin-top: 30px;
}

.sorting-label {
  margin-right: 10px;
}

.news-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.news-card2 {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 30%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.news-card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.news-card-image {
  width: 100%;
  height: auto;
  max-height: 200px;
}

.news-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.news-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.news-card-description {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
  flex-grow: 1;
}

.news-card-date {
  font-size: 0.9rem;
  color: #999;
  margin-top: 10px;
}

.read-more-btn {
  background-color: #e33216;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: auto;
  align-self: flex-start;
  margin-top: 20px;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: #c22714;
}

.load-more-news-btn {
  display: block;
  background-color: #e33216;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 30px auto;
  cursor: pointer;
}

.load-more-news-btn:hover {
  background-color: #c22714;
}

.featured-news-card {
  background-color: #e33216;
  color: white;
}

.featured-news-card .news-card-title {
  font-size: 1.5rem;
}

.white {
  color: white !important;
}

.black {
  background-color: black !important;
}

@media (max-width: 768px) {
  .news-card2 {
    width: 100%;
  }
  .title-nouvelle2 {
    font-size: 9vw;
    margin-left: 0px;
  }
}
body, html {
  height: 100%;
  margin: 0;
  font-family: "Helvetica";
  padding: 0;
}/*# sourceMappingURL=style.css.map */